body {
    background-color: rgb(253, 251, 251);
    color: rgb(88, 87, 87);
    font-size: large;
    font-family: Outfit, sans-serif;
    line-height: 1.2;
}
#cabecalho {
    position: fixed;
    top: 0px;
    background-color: rgb(253, 251, 251);
    padding: 2px;
}
#minha_foto {
    border-radius: 10%;
    float: right;
    width: 300px;
}
aside {
    display: inline-block;

}
#cuerpo {
    margin-top: 70px;
}
.lado-esquerdo {
    align-items: left;
}
.lado-direito {
    align-items: right;
}